@charset "UTF-8";
.box {
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}

footer {
  margin-top: auto;
}

input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  outline: 0;
  border: 1px solid #dbdada;
  border-radius: 100px;
  caret-color: inherit;
  -webkit-transition: color 0.3s ease, border 0.3s ease;
  -moz-transition: color 0.3s ease, border 0.3s ease;
  transition: color 0.3s ease, border 0.3s ease;
  padding: 21px 40px;
  margin: 0;
}

.input:focus {
  border: 1px solid #000000;
}

.input::-moz-placeholder {
  color: #7a7a7a;
}

.input::-webkit-input-placeholder {
  color: #7a7a7a;
}

.input:-ms-input-placeholder {
  color: #7a7a7a;
}

.input::-ms-input-placeholder {
  color: #7a7a7a;
}

.input::placeholder {
  color: #7a7a7a;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
}

.checkbox {
  position: relative;
}

.checkbox._form-error .checkbox__label {
  border-color: #e60795;
  background-color: rgba(230, 7, 148, 0.2);
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus-visible + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

.checkbox__input:checked + .checkbox__label {
  border-color: #000;
  background-color: #000;
  color: #fff;
}

.checkbox__label {
  cursor: pointer;
  border-radius: 6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease;
  -moz-transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease;
  border: 1px solid #000;
  font-weight: 300;
  font-size: clamp(14px, 1.3888888889vw, 20px);
  padding: 7px 18px;
}

.form__checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 12px 13px;
  margin-bottom: 50px;
}

.form__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 26px;
}

.form__item._form-error {
  color: #e60795;
}

.form__item._form-error .input {
  color: #e60795;
  border-color: #e60795;
}

.form__item.item-textarea {
  grid-column: span 2;
}

.form__item.item-acceptance {
  grid-column: span 2;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #7a7a7a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  gap: 14px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -moz-box-align: start;
  align-items: start;
}

.form__item.item-textarea .input {
  padding: 32px 40px;
  border-radius: 25px;
}

.form__button {
  margin-top: 50px;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  z-index: 55;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease 0.8s;
  -moz-transition: opacity 0.2s ease 0.8s;
  transition: opacity 0.2s ease 0.8s;
  pointer-events: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.popup::-webkit-scrollbar {
  display: none;
}

.popup.popup_show {
  overflow: auto;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

.popup__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  justify-content: flex-end;
  min-height: 100%;
  width: 100%;
  background-color: rgba(18, 18, 18, 0.45);
}

.popup__content {
  position: relative;
  color: #1a1a1a;
  background-color: #f3f3f4;
  width: 100%;
  transition: -webkit-clip-path 0.8s ease;
  -webkit-transition: -webkit-clip-path 0.8s ease;
  -moz-transition: clip-path 0.8s ease;
  transition: clip-path 0.8s ease;
  transition: clip-path 0.8s ease, -webkit-clip-path 0.8s ease;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  max-width: 759px;
  padding: 97px 48px 37px;
  position: relative;
}

.popup-show .popup__content {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.popup__body {
  position: relative;
}

.popup__body .form {
  opacity: 0;
  -webkit-transform: translateY(5%);
  -moz-transform: translateY(5%);
  -ms-transform: translateY(5%);
  transform: translateY(5%);
  -webkit-transition: opacity 0.8s ease 0.5s, -webkit-transform 0.8s cubic-bezier(0.22, 0.89, 0.34, 0.96) 0.5s;
  transition: opacity 0.8s ease 0.5s, -webkit-transform 0.8s cubic-bezier(0.22, 0.89, 0.34, 0.96) 0.5s;
  -moz-transition: transform 0.8s cubic-bezier(0.22, 0.89, 0.34, 0.96) 0.5s, opacity 0.8s ease 0.5s, -moz-transform 0.8s cubic-bezier(0.22, 0.89, 0.34, 0.96) 0.5s;
  transition: transform 0.8s cubic-bezier(0.22, 0.89, 0.34, 0.96) 0.5s, opacity 0.8s ease 0.5s;
  transition: transform 0.8s cubic-bezier(0.22, 0.89, 0.34, 0.96) 0.5s, opacity 0.8s ease 0.5s, -webkit-transform 0.8s cubic-bezier(0.22, 0.89, 0.34, 0.96) 0.5s, -moz-transform 0.8s cubic-bezier(0.22, 0.89, 0.34, 0.96) 0.5s;
}

.popup-show .popup__body .form {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(0, -120%);
  -moz-transform: translate(0, -120%);
  -ms-transform: translate(0, -120%);
  transform: translate(0, -120%);
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0.5s;
  -moz-transition: opacity 0.8s ease 0.5s;
  transition: opacity 0.8s ease 0.5s;
  background: none;
  border: none;
  padding: 0;
}

.popup-show .popup__close {
  opacity: 1;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.popup__title {
  font-weight: 700;
  line-height: 1;
  font-size: clamp(25px, 2.7777777778vw, 40px);
}

.popup__txt {
  color: #6c6c6c;
  font-size: clamp(16px, 1.25vw, 18px);
}

.popup__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 50px;
}

/* phone input */
.input[type=tel] {
  overflow: hidden;
  height: 100%;
}

.iti {
  width: 100%;
  height: 100%;
}

.iti__country-container {
  padding: 5px !important;
}

.iti__selected-country {
  background: #f5f5f5 !important;
  margin: 0px;
  border-radius: 100px 0 0 100px !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  padding-right: 5px !important;
  overflow: hidden;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .popup__content {
    padding: 6.7361111111vw 3.3333333333vw 2.5694444444vw;
  }
  .popup__head {
    gap: 1.25vw;
    margin-bottom: 3.4722222222vw;
  }
  .form__checkbox {
    gap: 0.8333333333vw 0.9027777778vw;
    margin-bottom: 3.4722222222vw;
  }
  .checkbox__label {
    padding: 0.4861111111vw 1.25vw;
  }
  .form__item.item-textarea .input {
    padding: 2.2222222222vw 2.7777777778vw;
  }
  .form__items {
    gap: 2.2222222222vw 1.8055555556vw;
  }
  .form__button {
    margin-top: 3.4722222222vw;
  }
}
@media (max-width: 480px) {
  .popup__wrapper {
    padding: 109px 20px 40px;
    background-color: #ffffff;
  }
  .popup__close {
    top: 0px;
    right: 14px;
    height: 40px;
    width: 40px;
    -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
  }
  .popup__head {
    gap: 13px;
    margin-top: 31px;
  }
  .form__checkbox {
    gap: 11px 7px;
    margin-bottom: 21px;
  }
  .checkbox__label {
    padding: 6px 15px;
  }
  .popup__content {
    border-radius: 16px;
    padding: 51px 11px 50px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1019607843);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1019607843);
  }
  .form__item.item-textarea .input {
    padding: 1.7361111111vw 1.25vw;
  }
  .form__items {
    gap: 20px;
    grid-template-columns: 100%;
  }
  .form__button {
    margin-top: 32px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .form__item.item-textarea {
    grid-column: inherit;
  }
  .form__item.item-acceptance {
    grid-column: inherit;
  }
  .input {
    padding: 16px 17px 16px;
    border-radius: 59px;
  }
  .form__item.item-textarea .input {
    border-radius: 16px;
    padding: 25px 18px;
    height: 145px;
  }
  .form__item.item-acceptance {
    grid-column: inherit;
    font-size: 12px;
    gap: 10px;
  }
  .input[type=tel] {
    padding: 16px 0 16px;
    border-radius: 59px;
  }
}
.faq__scroll-content h2 {
  font-size: 20px;
  font-weight: 700;
}

.faq__scroll-content li,
.faq__scroll-content a {
  color: rgb(142, 142, 142);
}

.facebook .targeting__social-icon img {
  max-width: 64%;
  height: auto;
}

.tiktok .targeting__social-icon img {
  max-width: 88%;
  height: auto;
}

.maps .targeting__social-icon {
  background-color: #d7d9db;
}

.maps .targeting__social-icon img {
  max-width: 40%;
  height: auto;
}

.linkedin.youtube .targeting__social-icon {
  background-color: #D71B1B;
}

.targeting__social-icon img {
  max-width: 56%;
  height: auto;
}

.targetvalues__about {
  font-size: clamp(15px, 1.3194444444vw, 19px);
  line-height: 130%;
  color: #929292;
  margin-top: 32px;
  padding-bottom: 60px;
  padding-left: 87px;
  padding-right: 60px;
}

.targetvalues__about ul {
  padding-left: 50px;
  padding-bottom: 32px;
}

.targetvalues__about p {
  color: #929292;
  margin-bottom: 32px;
}

.targetvalues__about ul li {
  color: #fff;
  padding-left: 5px;
}

.targetvalues__about ul li::marker {
  color: #2174f5;
  content: "✓";
}

.targetvalues__about ul li:not(:last-child) {
  margin-bottom: 16px;
}

@media (max-width: 1320px) {
  .targetvalues__about {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 992px) {
  .targetvalues__about {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 0px;
  }
  .targetvalues__about ul {
    padding-left: 10px;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 49px;
}

ul {
  margin: 0;
  padding: 0 0 0 20px;
}
ul a {
  color: #000000;
}
ul a:hover {
  text-decoration: none;
}
ul.marked {
  margin: 20px 0;
  padding: 0 0 0 15px;
}
ul.marked li {
  font-size: 19px;
  margin-bottom: 16px;
  padding-left: 8px;
  line-height: 1.25;
}
ul.marked li::marker {
  color: rgb(33, 116, 245);
  content: "✓";
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  counter-reset: list-counter;
}
ol li {
  position: relative;
  padding-left: 35px;
  counter-increment: list-counter;
  margin-bottom: 20px;
  font-size: 19px;
}
ol li:before {
  content: counter(list-counter);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  position: absolute;
  left: 0;
  top: -3px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  border-radius: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  color: #ffffff;
  font-size: 17px;
  padding-right: 1px;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 1;
  background-color: #000000;
}

.blog-page .breadcrumbs {
  position: static;
}

.bg-white {
  background-color: #ffffff;
}

.bg-grey {
  background-color: #F3F3F4;
}

.bg-green {
  background-color: #E8F99B;
}

@-webkit-keyframes top-orbit {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-moz-keyframes top-orbit {
  0% {
    -moz-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  100% {
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes top-orbit {
  0% {
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes mid-orbit {
  0% {
    -webkit-transform: rotateZ(35deg);
    transform: rotateZ(35deg);
  }
  100% {
    -webkit-transform: rotateZ(395deg);
    transform: rotateZ(395deg);
  }
}
@-moz-keyframes mid-orbit {
  0% {
    -moz-transform: rotateZ(35deg);
    transform: rotateZ(35deg);
  }
  100% {
    -moz-transform: rotateZ(395deg);
    transform: rotateZ(395deg);
  }
}
@keyframes mid-orbit {
  0% {
    -webkit-transform: rotateZ(35deg);
    -moz-transform: rotateZ(35deg);
    transform: rotateZ(35deg);
  }
  100% {
    -webkit-transform: rotateZ(395deg);
    -moz-transform: rotateZ(395deg);
    transform: rotateZ(395deg);
  }
}
@-webkit-keyframes bot-orbit {
  0% {
    -webkit-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }
  100% {
    -webkit-transform: rotateZ(375deg);
    transform: rotateZ(375deg);
  }
}
@-moz-keyframes bot-orbit {
  0% {
    -moz-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }
  100% {
    -moz-transform: rotateZ(375deg);
    transform: rotateZ(375deg);
  }
}
@keyframes bot-orbit {
  0% {
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
  }
  100% {
    -webkit-transform: rotateZ(375deg);
    -moz-transform: rotateZ(375deg);
    transform: rotateZ(375deg);
  }
}
.header__inner {
  width: 100%;
}

.search-box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  background-color: #F3F3F4;
  padding: 10px 19px;
  border-radius: 12px;
}
.search-box__button {
  width: 24px;
  height: 24px;
  color: #000000;
  border: none;
  padding: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}
.search-box__button svg, .search-box__button use {
  width: 100%;
  height: 100%;
}
.search-box input {
  border: none;
  font-size: 16px;
  background-color: transparent;
  color: #0F0F0F;
}
.search-box input::-webkit-input-placeholder {
  color: #0F0F0F;
}
.search-box input::-moz-placeholder {
  color: #0F0F0F;
}
.search-box input:-ms-input-placeholder {
  color: #0F0F0F;
}
.search-box input::-ms-input-placeholder {
  color: #0F0F0F;
}
.search-box input::placeholder {
  color: #0F0F0F;
}

.page__content {
  padding-right: 43px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  flex-grow: 1;
  width: -webkit-calc(100% - 271px);
  width: -moz-calc(100% - 271px);
  width: calc(100% - 271px);
}
.page__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  margin-top: 32px;
}

.arrow-button {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 50%;
  color: #000000;
  -webkit-transition: all 120ms;
  -moz-transition: all 120ms;
  transition: all 120ms;
}
.arrow-button:hover {
  opacity: 0.7;
}
.arrow-button svg {
  width: 12px;
  height: 12px;
}

.select-list {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}
.select-list li {
  list-style-type: none;
  margin: 15px 25px 0 0;
}
.select-list a {
  padding: 10px 22px;
  line-height: 1;
  color: #000000;
  text-decoration: none;
  border: 1px solid #000000;
  display: block;
  border-radius: 20px;
  font-size: 20px;
  white-space: nowrap;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  transition: all 150ms;
}
.select-list a:hover {
  background-color: #1C1616;
  border-color: #1C1616;
  color: #ffffff;
}

.orbits {
  position: absolute;
  min-width: 890px;
  min-height: 890px;
  top: 0;
  right: -180px;
  max-width: 890px;
  max-height: 890px;
  width: 890px;
  height: 890px;
}
.orbits .orbits-wrap {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.orbits .orbit-inner {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1294117647);
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  border-radius: 50%;
}
.orbits .orbit-inner:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -9px;
  width: 19px;
  height: 19px;
  background-color: #2174F5;
  z-index: 1;
}
.orbits .orbit-outer {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.orbits .orbit-outer__top {
  width: 100%;
  height: 100%;
}
.orbits .orbit-outer__top .orbit-inner {
  -webkit-animation-duration: 15000ms;
  -moz-animation-duration: 15000ms;
  animation-duration: 15000ms;
  -webkit-animation-name: top-orbit;
  -moz-animation-name: top-orbit;
  animation-name: top-orbit;
}
.orbits .orbit-outer__mid {
  width: 75%;
  height: 75%;
}
.orbits .orbit-outer__mid .orbit-inner {
  -webkit-animation-duration: 12000ms;
  -moz-animation-duration: 12000ms;
  animation-duration: 12000ms;
  -webkit-animation-name: mid-orbit;
  -moz-animation-name: mid-orbit;
  animation-name: mid-orbit;
  animation-direction: reverse;
}
.orbits .orbit-outer__mid .orbit-inner:after {
  background-color: #000000;
}
.orbits .orbit-outer__bot {
  width: 55%;
  height: 55%;
}
.orbits .orbit-outer__bot .orbit-inner {
  -webkit-animation-duration: 10000ms;
  -moz-animation-duration: 10000ms;
  animation-duration: 10000ms;
  -webkit-animation-name: bot-orbit;
  -moz-animation-name: bot-orbit;
  animation-name: bot-orbit;
}
.orbits .orbit-outer__bot .orbit-inner:after {
  width: 10px;
  height: 10px;
  top: -5px;
  background-color: #000000;
}

.banner {
  margin-top: 43px;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
}
.banner h1 {
  line-height: 1.2;
}
.banner__image {
  max-width: 628px;
  z-index: 1;
  position: relative;
}
.banner__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.banner .subtitle {
  font-size: 24px;
  color: #2174F5;
  margin-top: 32px;
}
.banner__main {
  max-width: 420px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  padding: 30px 0 30px 20px;
}
.banner__wrap {
  max-width: 1280px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  min-height: 465px;
  position: relative;
}
.banner__inner {
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  margin-left: 30px;
  padding-right: 30px;
}
.banner__right {
  max-width: 840px;
  width: 80%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  align-items: flex-end;
}
.banner--article .orbits {
  right: -260px;
}
.banner--article .banner__main {
  max-width: 752px;
  padding-right: 20px;
}
.banner--article .banner__main .subtitle {
  color: #6B706A;
}
.banner--article .banner__main .author {
  margin-top: 32px;
}
.banner--article .banner__image {
  max-width: 367px;
  max-height: 253px;
}
.banner--article .banner__image img {
  border: 1px solid #000000;
  border-radius: 16px;
}
.banner--article .banner__image:after {
  content: "";
  display: block;
  width: 131px;
  height: 131px;
  position: absolute;
  left: 94%;
  bottom: 88%;
  background-image: url("../images/icons/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  background-size: 100%;
}
.banner--article .banner__right {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}

.blog-tags__title {
  color: #6C6C6C;
}

.blog-articles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  margin-top: 32px;
  gap: 32px;
  margin-bottom: 25px;
}

.blog-article {
  border-radius: 16px;
  padding: 30px 127px 30px 30px;
  position: relative;
  border: 1px solid #F3F3F4;
  -webkit-transition: all 120ms;
  -moz-transition: all 120ms;
  transition: all 120ms;
}
.blog-article:hover {
  border-color: #000000;
}
.blog-article .arrow-button {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.blog-article__tags {
  margin-top: 6px;
}
.blog-article__tags .select-list li {
  margin-right: 18px;
}
.blog-article__tags .select-list a {
  color: #5A5A5A;
  font-size: 14px;
  border-color: #E8E8E8;
  background-color: #ffffff;
  padding: 9px 12px 7px;
}
.blog-article__tags .select-list a:hover {
  color: #000000;
  border-color: #000000;
}
.blog-article__title {
  margin-top: 11px;
  font-size: 25px;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 120ms;
  -moz-transition: all 120ms;
  transition: all 120ms;
  display: inline-block;
}
.blog-article__title:hover {
  opacity: 0.7;
}
.blog-article__desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 16px;
  color: #707070;
}
.blog-article__content {
  padding-left: 59px;
}
.blog-article__image {
  min-width: 299px;
  min-height: 211px;
  border-radius: 7px;
  overflow: hidden;
  height: 211px;
  width: 299px;
}
.blog-article__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.blog-article__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.blog-article.mobile {
  padding: 18px 18px 80px 18px;
  border-radius: 10px;
}
.blog-article.mobile .author {
  display: none;
}
.blog-article.mobile .arrow-button {
  bottom: 18px;
  right: 18px;
}
.blog-article.mobile .blog-article__title {
  font-size: 16px;
}
.blog-article.mobile .blog-article__desc {
  display: none;
}
.blog-article.mobile .blog-article__image {
  min-width: unset;
  width: 100%;
  max-height: 240px;
  height: 240px;
  min-height: unset;
}
.blog-article.mobile .blog-article__content {
  padding: 0;
  margin-top: 0;
}
.blog-article.mobile .blog-article__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}
.blog-article.mobile .blog-article__tags .select-list a {
  font-size: 11px;
  padding: 7px 9px 6px;
}
.blog-article.mobile .blog-article__tags .select-list li {
  margin-right: 14px;
  margin-top: 10px;
}

.views {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.views__image {
  width: 33px;
  height: 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.views__text {
  font-size: 14px;
  font-weight: 500;
  margin-left: 16px;
}

.author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.author__secondary {
  margin-left: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.author__secondary .views {
  margin-right: 35px;
}
.author__secondary .views:last-of-type {
  margin-right: 0;
}
.author__title {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.author__info {
  padding-left: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.author__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
}
.author__date {
  font-size: 14px;
  color: #797987;
  line-height: 1;
  margin-top: 7px;
}
.author__image {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  border-radius: 30px;
  overflow: hidden;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.author__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.aside-section {
  width: 271px;
}

.accordions {
  margin-top: 40px;
  padding-right: 10px;
  padding-left: 5px;
}

.accordion {
  border-radius: 12px;
  margin-bottom: 20px;
}
.accordion:last-of-type {
  margin-bottom: 0;
}
.accordion__title {
  font-size: 25px;
  font-weight: 700;
  color: #0A0A0A;
}
.accordion__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}
.accordion__button {
  background-color: transparent;
  border: none;
  width: 22px;
  height: 12px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  transition: all 150ms;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.accordion__button svg {
  width: 100%;
  height: 100%;
}
.accordion__button.active {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
}
.accordion__info {
  overflow: hidden;
  height: 0;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  transition: all 150ms;
}
.accordion__header {
  position: relative;
}
.accordion__header h3 {
  margin: 0;
  font-size: 30px;
  cursor: pointer;
}
.accordion__inner {
  padding: 20px 0 0 0;
}

.simple-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.simple-list li {
  margin-bottom: 13px;
}
.simple-list li:last-of-type {
  margin-bottom: 0;
}
.simple-list a {
  text-decoration: none;
  color: #6C6C6C;
  -webkit-transition: all 120ms;
  -moz-transition: all 120ms;
  transition: all 120ms;
}
.simple-list a:hover {
  color: #000000;
}

.article-last__title {
  font-size: 20px;
  font-weight: 600;
}
.article-last .author__title {
  margin-top: 15px;
}
.article-last .author__name {
  color: #707070;
  margin-bottom: 7px;
}
.article-last .author__date {
  color: #797987;
}

.article-popular__title {
  font-size: 20px;
  margin-top: 30px;
  font-weight: 600;
}
.article-popular__image {
  border-radius: 6px;
  overflow: hidden;
  width: 176px;
  height: 124px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.pager {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 70px 0;
}
.pager .nav-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.pager a, .pager span {
  color: #000000;
  font-size: 21px;
  text-decoration: none;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 0 5px;
}
.pager span {
  background-color: #000000;
  color: #ffffff;
  border-radius: 50%;
}
.pager span.dots {
  background-color: transparent;
  color: #000000;
  font-size: 26px;
}
.pager a {
  -webkit-transition: all 120ms;
  -moz-transition: all 120ms;
  transition: all 120ms;
}
.pager a:hover {
  opacity: 0.7;
}
.pager a.prev, .pager a.next {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  font-size: 0;
  background-image: url("../images/icons/chevron.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}
.pager a.prev {
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotate(90deg);
  transform: rotateZ(90deg);
}
.pager a.next {
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotateZ(-90deg);
}

.article-list {
  background-color: #F3F3F4;
  padding: 29px 75px;
  border-radius: 16px;
}

.article__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  width: 100%;
}
.article__main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  flex-grow: 1;
  width: -webkit-calc(100% - 85px);
  width: -moz-calc(100% - 85px);
  width: calc(100% - 85px);
  padding-left: 20px;
}

.article-content {
  margin-top: 90px;
  line-height: 1.25;
}
.article-content__block {
  margin-top: 35px;
}
.article-content__subtitle {
  font-size: 32px;
  color: #0A0A0A;
  font-weight: 700;
}
.article-content__slider {
  margin-top: 90px;
  margin-bottom: 80px;
}
.article-content__sub {
  margin-top: 30px;
  font-size: 19px;
  color: #929292;
  line-height: 1.5;
}
.article-content__title {
  font-weight: 700;
  font-size: 40px;
  color: #0A0A0A;
}

.article-slider {
  width: 100%;
}
.article-slider .swiper-button-prev,
.article-slider .swiper-button-next {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #000000;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icons/arrow-left.svg");
}
.article-slider .swiper-button-prev:after,
.article-slider .swiper-button-next:after {
  display: none;
}
.article-slider .swiper-button-next {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
}
.article-slider .swiper {
  width: 100%;
  padding: 0 90px;
}

.article-grades {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.article-grades p {
  font-size: 19px;
}

.stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  flex-direction: row-reverse;
  margin: 0 -8px;
}
.stars__item {
  color: #D9D9D9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  width: 46px;
  height: 30px;
  padding: 0 8px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.stars__item:hover {
  color: gold;
}
.stars__item:hover ~ .stars__item {
  color: gold;
}
.stars__item.active {
  color: gold;
}
.stars__item.active ~ .stars__item {
  color: gold;
}

.article-comment .comment-form {
  margin-top: 40px;
  background-color: #F9F9F9;
  border-radius: 16px;
  -webkit-box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.1019607843);
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.1019607843);
  padding: 50px 59px;
}
.article-comment .comment-form .item-acceptance .wpcf7-list-item {
  display: inline-block;
  margin: 0 0 0 1em;
}
.article-comment .comment-form .item-acceptance .wpcf7-list-item input {
  margin-right: 4px;
}
.article-comment .comment-form__title {
  font-size: 35px;
  font-weight: 700;
}
.article-comment .comment-form__sub-title {
  font-size: 17px;
  color: #6C6C6C;
  margin-top: 16px;
  line-height: 1.25;
}
.article-comment .comment-form form {
  margin-top: 25px;
}
.article-comment .form__row {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px 26px;
}
.article-comment .form__row button {
  margin: 0;
}
.article-comment .form__row > * {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  flex-grow: 1;
}

.thematic {
  margin-top: 90px;
  margin-bottom: 90px;
}
.thematic__slider {
  margin-top: 90px;
}
.thematic__slider .swiper-pagination {
  margin-top: 50px;
  position: relative;
  height: 18px;
}
.thematic__slider .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background-color: #b6b6b8;
  opacity: 1;
  margin: 0 15px !important;
}
.thematic__slider .swiper-pagination-bullet-active-main {
  background-color: #000000;
}
.thematic__title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.article-share {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}
.article__share .article-share {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  align-items: flex-start;
}
.article-share__title {
  color: #929292;
  margin-bottom: 5px;
}
.article-share .footer__social {
  margin-top: 5px;
}
.article__share .article-share .footer__social {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}
.article-share .footer__social-link {
  color: #B2B2B7;
  background-color: #F3F3F4;
  border-color: transparent;
}
.article-share .footer__social-link:hover {
  color: #2174f5;
}
.article__share .article-share .footer__social-link {
  margin-top: 15px;
}
.article-share .footer__social-link:not(:first-child) {
  margin-left: 14px;
}
.article__share .article-share .footer__social-link:not(:first-child) {
  margin-left: 0;
  margin-top: 15px;
}

@media screen and (max-width: 1320px) {
  h1 {
    font-size: 45px;
  }
  .article-page .article__main {
    padding: 0;
  }
  .article-page .page__aside {
    display: none;
  }
  .article-share {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    margin: 32px 0 40px;
  }
  .pager {
    margin: 30px 0 40px;
  }
  .page__aside {
    margin-bottom: 32px;
  }
  .page__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    flex-direction: column-reverse;
  }
  .page__content {
    width: 100%;
    padding: 0;
  }
  .accordions {
    display: none;
  }
  .aside-section {
    width: 100%;
  }
  .blog-article {
    padding: 18px 18px 80px 18px;
    border-radius: 10px;
  }
  .blog-article .arrow-button {
    bottom: 18px;
    right: 18px;
  }
  .blog-article__title {
    font-size: 16px;
  }
  .blog-article__desc {
    display: none;
  }
  .blog-article__image {
    min-width: unset;
    width: 100%;
    max-height: 189px;
    height: 189px;
    min-height: unset;
  }
  .blog-article__content {
    padding: 0;
    margin-top: 20px;
  }
  .blog-article__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
  }
  .blog-article__tags .select-list a {
    font-size: 11px;
    padding: 7px 9px 6px;
  }
  .blog-article__tags .select-list li {
    margin-right: 14px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 992px) {
  ul a {
    font-size: 14px;
  }
  .article__main .article-list {
    padding: 20px;
  }
  .article__main .accordion__title {
    font-size: 19px;
    line-height: 1;
  }
  .mobile-hidden {
    display: none;
  }
  .blog-article__content {
    margin-top: 0;
  }
  h1 {
    font-size: 41px;
  }
  .orbits {
    min-width: unset;
    min-height: unset;
    width: 430px;
    height: 430px;
    top: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -150px;
  }
  .orbits .orbit-inner:after {
    width: 13px;
    height: 13px;
    top: -7px;
  }
  .banner__right {
    max-width: unset;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    padding-bottom: 45px;
  }
  .banner__inner {
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
  .banner__main {
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
  }
  .banner__main .subtitle {
    font-size: 24px;
    margin-top: 20px;
  }
  .banner__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
  }
  .banner--article .subtitle {
    font-size: 14px;
  }
  .banner--article .author__name {
    font-size: 12px;
  }
  .banner--article .author__date {
    font-size: 10px;
  }
  .banner--article .author__image {
    width: 33px;
    height: 33px;
  }
  .banner--article .author .views {
    margin: 0 0 4px 0;
  }
  .banner--article .author .views__text {
    font-size: 10px;
  }
  .banner--article .author .views__image {
    width: 26px;
    height: 18px;
  }
  .banner--article .author .views:last-of-type {
    margin: 0;
  }
  .banner--article .banner__main {
    padding-left: 0;
    padding-right: 0;
  }
  .banner--article .banner__image {
    max-width: 285px;
  }
  .banner--article .banner__image:after {
    left: 96%;
    bottom: 94%;
    width: 71px;
    height: 71px;
  }
  .banner--article .banner__right {
    padding-top: 40px;
  }
  .select-list li {
    margin-right: 10px;
  }
  .select-list a {
    padding: 6px 13px;
    font-size: 13px;
  }
  .article-content {
    margin-top: 50px;
  }
  .article-content__title {
    font-size: 27px;
  }
  .article-content__sub {
    font-size: 16px;
  }
  .article-content__slider {
    margin: 50px 0;
  }
  .article-content__sub {
    margin-top: 18px;
  }
  .article-content__subtitle {
    font-size: 25px;
  }
  .article-grades {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .article-grades p {
    font-size: 15px;
  }
  .article-grades__stars {
    margin-top: 16px;
  }
  .article-grades__voted {
    width: 50%;
    text-align: right;
  }
  .article-grades__rating {
    width: 50%;
  }
  .article-comment .comment-form {
    padding: 50px 30px;
  }
  .article-comment .comment-form__title {
    font-size: 25px;
  }
  .article-comment .comment-form__sub-title {
    font-size: 16px;
  }
  .article-comment .form__items {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .article-comment .form__item {
    grid-column: span 2;
  }
  .article-comment .form__row {
    grid-template-columns: unset;
    gap: 20px;
  }
  .article-comment .form__row button {
    grid-column: span 2;
    margin: 0 auto;
  }
  .article-slider .swiper {
    padding: 0;
  }
  .article-slider .swiper-pagination {
    margin-top: 40px;
    position: relative;
    height: 18px;
  }
  .article-slider .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    background-color: #b6b6b8;
    opacity: 1;
    margin: 0 15px !important;
  }
  .article-slider .swiper-pagination-bullet-active-main {
    background-color: #000000;
  }
  .article-slider .swiper-button-prev {
    display: none;
  }
  .article-slider .swiper-button-next {
    display: none;
  }
  .thematic {
    margin: 50px -20px 40px;
    overflow: hidden;
  }
  .thematic__slider {
    margin-top: 30px;
    padding: 0 20px;
  }
  .thematic__slider .swiper {
    overflow: visible;
  }
  .thematic__title {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 37px;
  }
  .pager a, .pager span {
    font-size: 14px;
    width: 30px;
    height: 30px;
  }
  .banner .orbits {
    min-width: 420px;
    min-height: 420px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .search-box input {
    font-size: 13px;
  }
  .thematic__slider {
    width: 88%;
  }
  .thematic__slider .swiper-pagination-bullets {
    left: -webkit-calc(50vw - 20px) !important;
    left: -moz-calc(50vw - 20px) !important;
    left: calc(50vw - 20px) !important;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 33px;
  }
}